@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    height: 100%;
    overflow: hidden;

    font-family: sans-serif;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
:root {
    --color-surface-1: #f2ecf4;
    --color-surface-2: #ece6ee;

    --color-accent-1: #e2e0f9;
    --color-accent-2: #525267;
}

img {
    max-width: 100%;
    
    background-color: white;
    max-height: 11em;
    border-radius: 1em;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.open-sans-500 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
  